.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background: white;
  border-bottom: 1px solid #e3e3e3;
}

.logo {
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.nav-links a {
  margin-left: 24px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #0077ff;
}